In [1]:
import pandas as pd
import os
from pathlib import Path
import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns
import matplotlib.pyplot as plt
from ipywidgets import widgets

import predict_energy_behavior.visualize.widget_eda

%load_ext autoreload
%autoreload 2

PATH_REPO_ROOT = Path().resolve().parent
PATH_DATA = PATH_REPO_ROOT / "data"
PATH_DATA_RAW = PATH_DATA / "raw"
PATH_DATA_RAW

PosixPath('/beegfs/.global0/ws/s4610340-energy_behavior/yahor/kaggle-predict_energy_behavior_of_prosumers/data/raw')

In [2]:
df_train = pd.read_csv(PATH_DATA_RAW / "train.csv").astype({"is_consumption": bool, "is_business": bool})
df_train["datetime"] = pd.to_datetime(df_train["datetime"])
df_train

,county,is_business,product_type,target,is_consumption,datetime,data_block_id,row_id,prediction_unit_id
0,0,False,1,0.713,False,2021-09-01 00:00:00,0,0,0
1,0,False,1,96.590,True,2021-09-01 00:00:00,0,1,0
2,0,False,2,0.000,False,2021-09-01 00:00:00,0,2,1
3,0,False,2,17.314,True,2021-09-01 00:00:00,0,3,1
4,0,False,3,2.904,False,2021-09-01 00:00:00,0,4,2
...,...,...,...,...,...,...,...,...,...
2018347,15,True,0,197.233,True,2023-05-31 23:00:00,637,2018347,64
2018348,15,True,1,0.000,False,2023-05-31 23:00:00,637,2018348,59
2018349,15,True,1,28.404,True,2023-05-31 23:00:00,637,2018349,59
2018350,15,True,3,0.000,False,2023-05-31 23:00:00,637,2018350,60
2018351,15,True,3,196.240,True,2023-05-31 23:00:00,637,2018351,60

In [3]:
df_el_prices = pd.read_csv(PATH_DATA_RAW / "electricity_prices.csv")
df_el_prices

             forecast_date  euros_per_mwh          origin_date  data_block_id
0      2021-09-01 00:00:00          92.51  2021-08-31 00:00:00              1
1      2021-09-01 01:00:00          88.90  2021-08-31 01:00:00              1
2      2021-09-01 02:00:00          87.35  2021-08-31 02:00:00              1
3      2021-09-01 03:00:00          86.88  2021-08-31 03:00:00              1
4      2021-09-01 04:00:00          88.43  2021-08-31 04:00:00              1
...                    ...            ...                  ...            ...
15281  2023-05-30 19:00:00          82.10  2023-05-29 19:00:00            637
15282  2023-05-30 20:00:00         150.85  2023-05-29 20:00:00            637
15283  2023-05-30 21:00:00          82.10  2023-05-29 21:00:00            637
15284  2023-05-30 22:00:00          82.09  2023-05-29 22:00:00            637
15285  2023-05-30 23:00:00          -1.29  2023-05-29 23:00:00            637

[15286 rows x 4 columns]

In [4]:
df_client = pd.read_csv(PATH_DATA_RAW / "client.csv")
df_client

,product_type,county,eic_count,installed_capacity,is_business,date,data_block_id
0,1,0,108,952.89,0,2021-09-01,2
1,2,0,17,166.40,0,2021-09-01,2
2,3,0,688,7207.88,0,2021-09-01,2
3,0,0,5,400.00,1,2021-09-01,2
4,1,0,43,1411.00,1,2021-09-01,2
...,...,...,...,...,...,...,...
41914,1,15,51,415.60,0,2023-05-29,637
41915,3,15,161,2035.75,0,2023-05-29,637
41916,0,15,15,620.00,1,2023-05-29,637
41917,1,15,20,624.50,1,2023-05-29,637
41918,3,15,55,2188.20,1,2023-05-29,637

In [5]:
w = predict_energy_behavior.visualize.widget_eda.EnergyBehaviorInteractiveEDAWidget(
    df_train=df_train,
    df_el_prices=df_el_prices,
    df_client=df_client
)
w.display()

VBox(children=(HBox(children=(Dropdown(description='Client type: ', options=('private', 'business'), value='pr…